.firstSection{
    margin-bottom: 10% !important;
}

.mSection {
    margin-top: 10% !important;
}

.DSFont{
    font-family: Droid Sans !important;
}

.CBFont{
    font-family: Calibri !important;
}


